h2 {
	font-family: Verdana, Arial, sans-serif;
	color: black;
}
.skill {
	width: 30%;
	height: 20px;
	position: relative;
	top: -40px;
	background-color: #7FC7AF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
