h2 {
	font-family: Verdana, Arial, sans-serif;
	color: black;
}
.skill {
	font-family: Arial;
	color: black;
	width: max-content;
	height: max-content;
	position: relative;
	background-color: lightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-style: solid;
  	border-color: black;
	border-width: 1px;
  	padding: 2px 5px 2px 5px;
}
